*/db
*/greybox_tmp
*/incremental_db
*/output_files
*/simulation
*/data/*
*/work/*
*/rpt/*
*/netlist/*
*/.Xil
*/FPAG-SHA256-UART.*

transcript
*.mpf
*.mti
*.qpf
*.qsf
*.qws
*.wlf
*.bak
*.csv
*.txt
*.svf
*.xpr
*.log

vivado*
*.sublime*
